header {
  height: 100px;
  background-color: lightblue;
  line-height: 100px;
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  margin-top: 30px;
}

li {
  list-style: none;
  margin-left: 20px;
}

li a {
  font-size: 30px;
}

h3 {
  color: blue;
  margin-top: 10px;
}

hr {
  margin-top: 10px;
}

input:hover {
  color: red;
  background-color: lightblue;
  cursor: pointer;
}

h2 {
  text-align: center;
  margin-top: 10px;
}

#turn {
  margin-left: 20px;
  text-align: center;
  margin-top: 10px;
}

i {
  cursor: pointer;
}

.authors-list li {
  margin-top: 20px;
}

.add-author {
  margin: 10px 30px;
}

.add-author input {
  width: 200px;
  height: 25px;
}

