ul{
    margin-top: 30px;
}
li{
    list-style: none;
    margin-left: 20px;
    a{
        font-size: 30px;
    }
}
h3{
    color:blue;
    margin-top: 10px;
}
hr{
    margin-top: 10px;
}
input:hover{
    color:red;
    background-color: lightblue;
    cursor: pointer;
}
h2{
    text-align: center;
    margin-top: 10px;
}
#turn{
    margin-left: 20px;
    text-align: center;
    margin-top: 10px;
}
i{
    cursor: pointer;
}